.tournament-active{
    background-color: #fd674c;
    color:white
}

.tournament-passive{
    background-color: #c4c4c4;
    color:black
}

.tournament-finished{
    background-color: #3678d5;
    color:white
}